<%= form_for(student) do |n|%>
<p>
  <%= n.label :name %>
  <%= n.text_field :name %>
</p>
<p>
  <%= n.label :hometown %>
  <%= n.text_field :hometown %>
</p>
<p>
  <%= n.label :birthday %>
  <%= n.date_field :birthday %>
</p>
  <%= n.submit %>
<% end %>